<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cat</key>
	<string>Skins/cat</string>
	<key>Dark Knight</key>
	<string>Skins/darknight</string>
	<key>Mr.O</key>
	<string>Skins/graypro</string>
	<key>Night Club</key>
	<string>Skins/nightclub</string>
	<key>Blue Moon</key>
	<string>Skins/bluemoon</string>
	<key>Dark Fairy</key>
	<string>Skins/darkfairy</string>
	<key>FishEye</key>
	<string>Skins/fisheye</string>
	<key>Forest</key>
	<string>Skins/forest</string>
	<key>Happy Toy</key>
	<string>Skins/happytoy</string>
	<key>Honey</key>
	<string>Skins/honey</string>
	<key>魁拔</key>
	<string>Skins/kuiba</string>
	<key>Ocean Run</key>
	<string>Skins/oceanrun</string>
	<key>New PinkPink</key>
	<string>Skins/pinkpink</string>
	<key>Puppy Love</key>
	<string>Skins/puppy</string>
	<key>Village</key>
	<string>Skins/village</string>
</dict>
</plist>
